/* GLOBAL */

* {
    margin: 0;
    padding: 0;
    overflow: hidden;

    /* temp */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:#4d2a00;
}

@media only screen and (min-width: 769px) and (max-width: 1924px) {
    :root {
        --hero-header-font-size: 7.5rem;
        --side-nav-font-size: 0.75rem;
        --btn-square-side: 66.7px;
        --btn-font-size: 2rem;
        --drop-shadow: 6.7px;
        --side-margin: 10px;
        --side-element-margin: 12.5px;
        --side-blurb-font-size: 1.5rem;
    }
}

@media only screen and (min-width: 1925px) {
    :root {
        --hero-header-font-size: 15rem;
        --side-nav-font-size: 1.5rem;
        --btn-square-side: 100px;
        --btn-font-size: 3rem;
        --drop-shadow: 10px;
        --side-margin: 25px;
        --side-element-margin: 50px;
        --side-blurb-font-size: 3rem;
    }
}

/* HERO */

.nav {
    width: 5vw;
    height: 100%;
    background-color: #ffe4c4;
    box-shadow: -10px 0px #4d2a00;
    position: fixed;
    right: -5vw;
    visibility: hidden;
    transition: transform 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav a {
    padding: 5px 10px;
    font-size: var(--side-nav-font-size);
    line-height: calc(1.5 * var(--side-nav-font-size));
    height: calc(1.5 * var(--side-nav-font-size) + 20px);
    margin: 0.5em;
    box-sizing: border-box;
    border-style: solid;
    border-color: #ffe4c4;
    transition: border-color 250ms;
}

/* consider changing hover effect to change bg color to dark tan */
.nav a:hover {
    border-color: #4d2a00;
    background-color: #ffb65c;
}

.hero {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 1fr / 3fr 1fr;
}

.content {
    grid-area: 1 / 1 / 1 / 2;
    background: url('images/dc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.content h1 {
    font-size: var(--hero-header-font-size);
    font-weight: 400;
    letter-spacing: 0.1em;
    padding-top: 20vh;
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0);
    }
}

/* SIDE */

.side {
    animation: 1s ease-out 0s slide;
    transition: all 1s ease-in-out;

    grid-area: 1 / 2 / 1 / 3;
    background-color: #ffe4c4;
    box-shadow: -10px 0px #4d2a00;
    z-index: 1;
}

.side a {
    display: inline;
    font-size: var(--side-nav-font-size);
    position: relative;
    padding: 5px 10px;
    line-height: calc(1.5 * var(--side-nav-font-size));
    height: calc(1.5 * var(--side-nav-font-size) + 20px);
    text-decoration: none;
    color: #4d2a00;
    box-sizing: border-box;
    border-style: solid;
    border-color: #ffe4c4;
    background-color: #ffe4c4;
    transition: border-color 250ms;
}

.side a:hover {
    border-color: #4d2a00;
    background-color: #ffb65c;
}

.side nav {
    height: 25%;
    display: flex;
    justify-content: space-between;
    margin: 0px var(--side-element-margin);
}

.side nav a {
    top: var(--side-margin);
}

.side .blurb {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.side .blurb h1 {
    font-size: calc(1.25 * var(--side-blurb-font-size));
    font-weight: 400;
    padding-left: calc(2 * var(--side-element-margin));
}

.side .blurb h2 {
    font-size: var(--side-blurb-font-size);
    font-weight: 400;
    padding-left: calc(2 * var(--side-element-margin));
}

.side .blurb img {
    height: 75%;
    width: auto;
    align-self: center;
    border-radius: 50%;
    transition: transform 1.5s ease-in-out;
}

.side .blurb img:hover {
    cursor: pointer;
}

.side footer {
    height: 25%;
    display: flex;
    justify-content: space-between;
    margin: 0px var(--side-element-margin);
    align-items: flex-end;
}

.side footer a {
    bottom: var(--side-margin);
}

.action {
    grid-area: 1 / 1 / 1 / 2;
    display: flex;
    justify-content: center;
    align-items: end;
}

.action button {
    background-color: #ffe4c4;
    height: var(--btn-square-side);
    width: var(--btn-square-side);
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(180deg);
    font-size: var(--btn-font-size);
    color: #4d2a00;
    box-shadow: calc(-1*var(--drop-shadow)) var(--drop-shadow) #4d2a00;
    border: none;
    position: relative;
    bottom: 57.5px;
    z-index: 100;

    animation: 2s ease-in-out floating;
    animation-iteration-count: infinite;
    transition: background-color 250ms;
}

.action button:hover {
    background-color: #ffb65c;
    cursor: pointer;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50% { transform: translate(0, 15px); }
    100% { transform: translate(0, 0px); }   
}

/* ABOUT */

.about {
    width: calc(95vw - 10px);
    height: 100vh;
    display: grid;
    grid-template: repeat(12, 1fr) / repeat(20, 1fr);
    transition: transform 1s;
    background-color: #d2d3d4;
    z-index: 50; /* maybe temp */
}

.about .header {
    grid-area: 2 / 2 / 3 / 12;
    font-size: calc(100vh/12 - 1vh);
    line-height: calc(100vh/12 - 2vh);
}

.about .terminal {
    /* somehow i gotta add leaves to this thing */
    grid-area: 3 / 2 / 10 / 12;
    border: solid #33373d;
    background-color: #241500;
    border-width: 30px 30px;
    box-shadow: 35px 0px #1c1e21;
    padding: 5px 10px;
}

.about .screen {
    grid-area: 2 / 13 / 7 / 20;
    border: solid #33373d;
    background-color: #241500;
    border-width: 30px 30px;
    box-shadow: 35px 0px #1c1e21;
    padding: 5px 10px;
}

.about .computer {
    grid-area: 8 / 13 / 12 / 20;
    border: solid #860505;
    background-color: #860505;
    border-width: 30px 30px;
    box-shadow: 25px 0px #540303;
    padding: 5px 10px;
}

.about .terminal h1 {
    color: #bd6e00;
}

/* PROJECTS */

.projects {
    width: calc(95vw - 10px);
    height: 100vh;
    display: grid;
    /* grid-template: repeat(12, 1fr) / repeat(20, 1fr); */
    transition: transform 1s;
    background-color: #d2d3d4;
    z-index: 50; /* maybe temp */
}

.projects .left-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}